.DS_Store
*.pyc
*.egg-info
*.swp
tags
.env
e_commerce_store/docs/current
e_commerce_store/public/node_modules/
e_commerce_store/public/store/assets/
e_commerce_store/www/store.html
node_modules/
store/proxyOptions.js
.hitory/
store/yarn.lock