/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: #323334;
    --secondary: #7869E3;
    --text-tag: #000000;
    --button-primary: #000000;
    --button-primary-foreground: #FFFFFF;
    --button-primary-hover: #393939;
    --button-primary-hover-foreground: #FFFFFF;
    --button-secondary: #F6F6F6;
    --button-secondary-foreground: #6C6C6C;
    --button-secondary-hover: #9F9F9F;
    --button-secondary-hover-foreground: #000000;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: #DD5260;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}

/* .grid-cols-auto {
  grid-template-columns: auto auto auto
} */

.main-section {
  @apply max-w-[1536px] m-auto p-10
}

.primary-heading {
  @apply text-2xl font-bold
}

.btn-primary {
  @apply text-btn-primary-foreground bg-btn-primary
}

.btn-primary:hover {
  @apply text-btn-primary-hover-foreground bg-btn-primary-hover
}

.btn-secondary {
  @apply text-btn-secondary-foreground bg-btn-secondary
}

.btn-secondary:hover {
  @apply text-btn-secondary-hover-foreground bg-btn-secondary-hover
}

.search_bar {
  animation:expand_search_bar .3s forwards;
  overflow:hidden;
}

@keyframes expand_search_bar {
  from {
    width:0%;
  }
  to {
    width:100%;
  }
}