@font-face {
  font-family: 'SF Pro Display';
  src: url("./assets/fonts/SFProTHDisplay_regular.woff2");
  font-weight:400
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("./assets/fonts/SFProTHDisplay_semibold.woff2");
  font-weight:600
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("./assets/fonts/sf-pro-text_regular.woff2");
  font-weight:400
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("./assets/fonts/sf-pro-text_semibold.woff2");
  font-weight:600
}

* {
  font-family:'SF Pro Display', sans-serif
}

body {
  margin: 0px;
}

table {
  border-spacing: 0;
  border: 1px solid black;
}

table th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table tr:last-child td {
  border-bottom: 0;
}

table th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table th:last-child,
td:last-child {
  border-right: 0;
}

.layout {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 751px) {
  .layout {
    display: block;
  }
}

.layout .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.breadcrumb {
  display: flex;
  gap: 24px;
  list-style-type: "/  ";
  padding: 8px 16px;
  border-bottom: 1px solid lightgray;
}

.breadcrumb a {
  color: blue;
  text-decoration: none;
}

.menu {
  flex-shrink: 0;
  padding: 8px 16px;
  border-right: 1px solid lightgray;
}

.menu a {
  color: black;
}

.menu .active {
  font-weight: bold;
}

.select__control {
  border-radius: calc(var(--radius) - 2px);
  background-color: hsl(var(--background));
  border-color: hsl(var(--input)) !important;
  border-width: 1px !important;
}

@media screen and (max-width: 751px) {
  .menu {
    border-right: none;
    border-bottom: 1px solid lightgray;
  }
}

.menu ul {
  padding-left: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px hsl(0 0% 98%) inset !important;
}