/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display:none;
}

.shadow-main {
  box-shadow:0 5px 15px #00000012;
}

.checkout-shadow {
  box-shadow: -17px 4px 28.8px 0px rgba(0, 0, 0, 0.03)
}

@layer base {
  @font-face {
    font-family:'DB Helvethaica X';
    src: url('../src/fonts/DB Helvethaica X/DB Helvethaica X Bd v3.2.ttf') format('truetype');
    font-weight:700;
    font-display:swap;
  }
  @font-face {
    font-family:'DB Helvethaica X';
    src: url('../src/fonts/DB Helvethaica X/DB Helvethaica X Med v3.2.ttf') format('truetype');
    font-weight:500;
    font-display:swap;
  }
  @font-face {
    font-family:'DB Helvethaica X';
    src: url('../src/fonts/DB Helvethaica X/DB Helvethaica X v3.2.ttf') format('truetype');
    font-weight:400;
    font-display:swap;
  }
  @font-face {
    font-family:graphikTH;
    src: url('../src/fonts/graphikTH/GraphikTH-Bold-2_1.woff');
    font-weight:700
  }
  @font-face {
    font-family:graphikTH;
    src: url('../src/fonts/graphikTH/graphikth-medium-1_1.woff');
    font-weight:500
  }
  @font-face {
    font-family:graphikTH;
    src: url('../src/fonts/graphikTH/graphikth-regular-2_1.woff');
    font-weight:400
  }
  @font-face {
    font-family:graphikTH;
    src: url('../src/fonts/graphikTH/GraphikThai-Semibold-Web-1_1.woff');
    font-weight:600
  }

  * {
    scroll-behavior: smooth;
    @apply font-dbx
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: #000000; /* #323334 */
    --secondary: #4176FF;
    --text-tag: #111111;
    --button-primary: #000000;
    --button-primary-foreground: #FFFFFF;
    --button-primary-hover: #393939;
    --button-primary-hover-foreground: #FFFFFF;
    --button-secondary: #FFFFFF;
    --button-secondary-foreground: #000000;
    --button-secondary-hover: #9F9F9F;
    --button-secondary-hover-foreground: #000000;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: #DD5260;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}

/* .grid-cols-auto {
  grid-template-columns: auto auto auto
} */

.main-section {
  @apply max-w-[1400px] m-auto px-10 py-[50px] box-content
}

.main-section-single-product {
  @apply max-w-[1218px] m-auto px-10 py-[50px] box-content
}

.main-section-small {
  @apply max-w-[1113px] m-auto px-10 box-content
}

.primary-heading {
  @apply text-2xl font-bold
}

.btn-primary {
  @apply text-btn-primary-foreground bg-btn-primary
}

.btn-primary:hover {
  @apply text-btn-primary-hover-foreground bg-btn-primary-hover
}

.btn-secondary {
  @apply text-btn-secondary-foreground bg-btn-secondary
}
/* 
.btn-secondary:hover {
  @apply text-btn-secondary-hover-foreground bg-btn-secondary-hover
} */

.search_bar {
  animation:expand_search_bar .3s forwards;
  overflow:hidden;
}

.add_to_cart {
  opacity:0;
  transition:opacity 200ms;
}

.product_card:hover .add_to_cart {
  opacity:1;
  transition:opacity 200ms;
}

.product-title {
  @apply overflow-x-clip text-ellipsis pr-3 font-medium whitespace-pre
}

.product-desc {
  @apply text-sm font-medium overflow-x-clip text-ellipsis pr-3 whitespace-pre
}

.product-price {
  @apply font-normal
}

.product_card:hover .product-title, .product_card:hover .product-desc, .product_card:hover .product-price {
  @apply text-black
}

.product_card:hover .product-price {
  @apply font-medium
}

.post-gradient {
  background: linear-gradient(45deg, 
rgba(50,50,102,1) 0% 5%, 
rgba(255,255,255,1) 5% 10%, 
rgba(229,30,38,1) 10% 15%, 
rgba(255,255,255,1) 15% 20%, 
rgba(50,50,102,1) 20% 25%, 
rgba(255,255,255,1) 25% 30%, 
rgba(229,30,38,1) 30% 35%, 
rgba(255,255,255,1) 35% 40%, 
rgba(50,50,102,1) 40% 45%,
rgba(255,255,255,1) 45% 50%, 
rgba(229,30,38,1) 50% 55%, 
rgba(255,255,255,1) 55% 60%, 
rgba(50,50,102,1) 60% 65%, 
rgba(255,255,255,1) 65% 70%, 
rgba(229,30,38,1) 70% 75%, 
rgba(255,255,255,1) 75% 80%, 
rgba(50,50,102,1) 80% 85%, 
rgba(255,255,255,1) 85% 90%,
rgba(229,30,38,1) 90% 95%,
rgba(255,255,255,1) 95% 100%)
}

@keyframes expand_search_bar {
  from {
    width:0%;
  }
  to {
    width:100%;
  }
}
li[data-list=bullet] > .ql-ui:before {
  content: "\2022";
}
.ql-ui:before {
    display: inline-block;
    margin-left: -1.5em;
    margin-right: 0.3em;
    text-align: right;
    white-space: nowrap;
    width: 1.2em;
}
.ql-editor .ql-ui {
    position: absolute;
}
.ql-editor ol {
    padding-left: 1.5em;
}