@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0 0% 7% /* Original: 222.2 47.4% 11.2% */;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0 95%; /* Original: 210 40% 96.1% */
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0 0% 98% /* Original: 210 40% 96.1% */;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 96%; /* Original: 214.3 31.8% 91.4% */
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form-input {
  @apply bg-accent border-darkgray-100 h-12.5 rounded-xl px-6;
}

.form-input::placeholder {
  @apply text-darkgray-200
}

.main-btn {
  @apply w-full h-12.5 rounded-xl font-semibold text-base;
}

.add-to-cart-btn {
  @apply translate-y-[150%] group-hover:translate-y-0 transition-transform w-[calc(100%_-_16px)] absolute bottom-2 left-1/2 transform -translate-x-1/2 bg-white text-black shadow-sm text-base font-semibold;
}

@keyframes search-input-anim-in {
  from {
    @apply w-16
  }
  to {
    @apply w-full
  }
}

@keyframes search-input-anim-out {
  from {
    @apply w-full
  }
  to {
    @apply w-16
  }
}

@keyframes fade-in {
  from {
    @apply opacity-0
  }
  to {
    @apply opacity-100
  }
}

@keyframes fade-out {
  from {
    @apply opacity-100
  }
  to {
    @apply opacity-0
  }
}

.search-input-anim-in {
  animation: search-input-anim-in 300ms forwards;
  animation-delay: 200ms;
}

.search-input-anim-out {
  animation: search-input-anim-out 300ms forwards;
}

.fade-in-search {
  animation: fade-in 200ms forwards;
  animation-delay: 200ms;
}

.fade-out-search {
  animation: fade-out 200ms forwards;
}